<script>
    function copyElementText(id) {
       var text = document.getElementById(id).innerText;
       var elem = document.createElement("textarea");
       document.body.appendChild(elem);
       elem.value = text;
       elem.select();
       document.execCommand("copy");
       document.body.removeChild(elem);
   }
</script>

{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<div class="container text-center">
    <h4 class="display-1">What would you like to know?</h4>
    <br>
    <form action="/clever_magpie" method="post">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" name="question" placeholder="Question...">
            </div>
        </div>
        <br>
        <button class="btn btn-success" type="submit">Send Question</button>
    </form>
</div>

{% endblock %}



