{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <h1 class="display-4 text-center">Register</h1>

            <div id="emailHelp" class="form-text text-center my-3">Please do not use NHS Usernames or Passwords</div>

            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="New Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
        </div>
        <div>
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password Confirmation" type="password">
        </div>

        <div class="text-center my-3">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
{% endblock %}
.schema